.wallWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wall {
    margin-top: 2.5rem;
    width: 90%;
}

.formHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 0.2em;
}

.formHead img {
    width: 20%;
    border-radius: 50%;
    margin: 1rem 1rem 0 0;
}

.newPostFormInput {
    width: 60%;
    text-align: right;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 0.2em;
}

.sendPostButton {
    color: #fff;
    background-color: #4353ff;
    border: none;
    border-radius: 0.4em;
    padding: 0.4rem 1.2rem;
    margin-top: 1rem;
}

.sendPostButton:hover {
    cursor: pointer;
}

.newPostFormInput textarea {
    height: 80px;
    padding: 1rem;
    font-size: 1em;
    border: 0.05em solid #4353ff;
    border-radius: 0.4em;
}

.myPosts {
    width: 60%;
    margin-top: 1rem;
}
